env/*
.DS_Store
.tool-versions
src/.DS_Store
*/__pycache__/*
*/__pycache__/
src/server/pyro_configuration/__pycache__/*
src/server/raft/__pycache__/*
src/server/raft/operations/__pycache__/*
src/server/raft/votes/__pycache__/
*/.tool-versions/*
*/node_modules/*
*/.vscode/*
src/frontend/raft/.vscode/